[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-bufsurf"]
	path = .vim/bundle/vim-bufsurf
	url = https://github.com/ton/vim-bufsurf.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ctrlp.vim"]
    path = .vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/jedi-vim"]
    path = .vim/bundle/jedi-vim
    url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bindle/vim-colors-solarized"]
    path = .vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-flake8"]
    path = .vim/bundle/vim-flake8
    url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/vim-airline"]
    path = .vim/bundle/vim-airline
    url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-tmux-navigator"]
    path = .vim/bundle/vim-tmux-navigator
    url = https://github.com/christoomey/vim-tmux-navigator.git
